.todoForm {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  height: 54px;
  background: #fff;
  border-radius: 8px;
  padding: 0px 1rem;
}

.todoForm__input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  background: #fff;
  height: 100%;
}

.todoForm__btn {
  border: none;
  outline: none;
  background: #2c3e50;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
